

@import 'mixins'
@import 'sections/header'
@import 'sections/intro'
@import 'sections/about'
@import 'sections/services'
@import 'sections/projects'
@import 'sections/subscribe'
@import 'sections/products'
@import 'sections/contacts'

$at_black: #000

@include font-face(gpb, fonts/GothamPro-Bold, null, null, ttf)
@include font-face(gpl, fonts/GothamPro-Light, null, null, ttf)
@include font-face(gpm, fonts/GothamPro-Medium, null, null, ttf)
@include font-face(gp, fonts/GothamPro, null, null, ttf)
body
    font-family: gp

.s-title
    text-align: center
    font-family: gpb
    font-size: 36px
    line-height: 34px
    text-transform: uppercase
    color: $at_black

img
    max-width: 100% 
    
// .container
//     +minq(xl)
//         max-width: 1510px 
//     +mq(xl)
//         max-width: 100%
.container
    padding-right: 10px
    padding-left: 10px
    +minq(1510px)
        max-width: 1510px 
    +mq(xl)
        max-width: 100%
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
    padding-right: 10px
    padding-left: 10px
.row
    margin-right: -10px
    margin-left: -10px
.btn
    font-size: 16px
    line-height: 15px
    font-family: gpb
    padding: 19px
    display: inline-flex
    align-items: center
    justify-content: center
    border-radius: 0
    box-shadow: none
    text-decoration: none
    box-sizing: border-box
    transition: 0.3s
    min-width: 230px 
    +mq(xxl)
        font-size: 15px
    +mq(xl)
        font-size: 14px

    &_black
        border: 1px solid #fff
        background: #000
        color: #fff
        &:hover
            background: #fff 
            color: #000 
    &_white
        background: #fff
        color: #000