.header__wrapper {
  padding: 17px 0;
  background: #000;
}

.header__menu {
  height: 100%;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.header__menu ul li {
  position: relative;
}

.header__menu ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  right: 0;
  bottom: -6px;
  background: #fff;
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}

.header__menu ul li:hover a {
  color: #fff;
}

.header__menu ul li:hover::after {
  width: 100%;
  left: 0;
  background: #ffffff;
}

.header__menu ul li.current-menu-item::after {
  width: 100%;
  left: 0;
  background: #ffffff;
}

.header__menu ul li.current-menu-item a {
  color: #fff;
}

.header__menu ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.header__phone {
  color: #fff;
  font-family: gpb;
}

.header__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__soc a {
  margin: 0 8px;
}

.header__soc a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__soc a img:hover {
  opacity: 1;
}

.header__lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__lang ul li {
  margin-left: 10px;
  position: relative;
}

.header__lang ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  right: 0;
  bottom: -6px;
  background: #fff;
  transition: width .3s ease;
  -webkit-transition: width .3s ease;
}

.header__lang ul li:hover::after {
  width: 100%;
  left: 0;
  background: #ffffff;
}

.header__lang ul li:hover a {
  color: #fff;
}

.header__lang ul li.current-lang::after {
  width: 100%;
  left: 0;
  background: #ffffff;
}

.header__lang ul li.current-lang a {
  color: #fff;
}

.header__lang ul li a {
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.intro {
  height: 100vh;
}

.about__title {
  margin-bottom: 100px;
}

.about__text {
  padding-left: 40px;
  font-size: 15px;
  line-height: 145%;
}

.about__text p {
  padding-bottom: 22px;
  border-bottom: 1px solid #000;
}

.about__statistics {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__statistics .statistics-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 15px;
  text-align: center;
}

.about__statistics .statistics-item:nth-child(1) {
  min-width: 110px;
}

.about__statistics .statistics-item__numb {
  font-family: gpm;
  font-size: 72px;
  line-height: 69px;
  margin-bottom: 14px;
}

.about__statistics .statistics-item__text {
  font-size: 15px;
  line-height: 145%;
}

.about__items {
  margin-top: 130px;
  position: relative;
  padding: 27px 0;
}

.about__items::after {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  background: #000;
  top: 0;
  right: 0;
  z-index: -1;
}

.about__items .about-item {
  text-align: center;
  padding: 0 15px;
}

.about__items .about-item__icon {
  margin-bottom: 36px;
  position: relative;
}

.about__items .about-item__icon span {
  content: '';
  height: 1px;
  width: 20px;
  background: #000;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 10px);
}

.about__items .row > div:nth-child(4) .about-item {
  color: #fff;
}

.about__items .row > div:nth-child(4) .about-item__icon span {
  background: #fff;
}

.about__items .row > div:nth-child(5) .about-item {
  color: #fff;
}

.about__items .row > div:nth-child(5) .about-item__icon span {
  background: #fff;
}

.about__items .row > div:nth-child(6) .about-item {
  color: #fff;
}

.about__items .row > div:nth-child(6) .about-item__icon span {
  background: #fff;
}

[data-aos='fr'] {
  -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
  -webkit-transition: opacity 1.5s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 1.5s cubic-bezier(0.4, 0, 0, 1);
  transition: opacity 1.5s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 1.5s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 1.5s cubic-bezier(0.4, 0, 0, 1), opacity 1.5s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 1.5s cubic-bezier(0.4, 0, 0, 1), opacity 1.5s cubic-bezier(0.4, 0, 0, 1), -webkit-transform 1.5s cubic-bezier(0.4, 0, 0, 1);
  opacity: 0;
}

[data-aos='fr'].aos-animate {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

#reseaux_sociaux {
  margin: 25px auto;
  width: 100%;
  height: 50vh;
}

.services__items {
  padding-top: 56px;
  padding-bottom: 40px;
  background: #000;
}

.accordeon {
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordeon .link {
  position: relative;
  float: left;
  width: 75px;
  height: 100%;
  color: #fff;
  border-right: 2px solid #C4C4C4;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.accordeon-conten__title {
  font-family: gpb;
  font-size: 24px;
  line-height: 145%;
  color: #FFFFFF;
  margin-bottom: 38px;
}

.accordeon-conten__text {
  font-size: 15px;
  max-width: 395px;
  line-height: 145%;
  color: #FFFFFF;
}

.accordeon .link:last-child {
  border-right: 0;
}

/* Taille des onglets ouverts */
.accordeon .link.hovered {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  background-color: #000;
}

.accordeon .link.hovered .prev {
  opacity: 0;
}

.accordeon .link img {
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}

.accordeon .link:not(.hovered) .full_content {
  opacity: 0;
}

.accordeon .link .full_content {
  position: absolute;
  top: 22px;
  left: 100px;
}

.accordeon .link .full_content img {
  width: 50px;
}

.accordeon .link .prev {
  height: 100%;
  width: 100%;
  font-size: 12px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 25px 10px;
}

.accordeon .link .prev > span {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

@font-face {
  font-family: "gpb";
  src: url("fonts/GothamPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "gpl";
  src: url("fonts/GothamPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "gpm";
  src: url("fonts/GothamPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "gp";
  src: url("fonts/GothamPro.ttf") format("truetype");
}

body {
  font-family: gp;
}

.s-title {
  text-align: center;
  font-family: gpb;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: #000;
}

img {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1510px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */