.header
    &__wrapper
        padding: 17px 0
        background: #000

    &__logo 
        img 
            min-width: 78px
    &__menu
        height: 100%
        ul
            display: flex
            align-items: center
            justify-content: space-around
            list-style: none
            padding: 0
            margin: 0
            height: 100%

            li 
                position: relative
                &::after
                    content: ""
                    position: absolute
                    width: 0
                    height: 1px
                    display: block
                    right: 0
                    bottom: -6px
                    background: #fff
                    transition: width .3s ease
                    -webkit-transition: width .3s ease
                &:hover
                    a 
                        color: #fff
                    &::after
                        width: 100%
                        left: 0
                        background: #ffffff
                &.current-menu-item 
                    &::after
                        width: 100%
                        left: 0
                        background: #ffffff
                    a 
                        color: #fff
                a 
                    transition: 0.3s
                    text-decoration: none
                    color: rgba(255, 255, 255, 0.7)
    &__contacts
        display: flex
        align-items: center
        justify-content: space-around
        height: 100%
    
    &__phone
        color: #fff
        font-family: gpb
    &__soc
        display: flex
        a
            margin: 0 8px

            img
                display: flex
                justify-content: center
                opacity: 0.7
                transition: 0.3s
                &:hover
                    opacity: 1
    

    &__lang 

        ul
            display: flex
            list-style: none
            padding: 0
            margin: 0

            li 
                margin-left: 10px
                position: relative
                &::after
                    content: ""
                    position: absolute
                    width: 0
                    height: 1px
                    display: block
                    right: 0
                    bottom: -6px
                    background: #fff
                    transition: width .3s ease
                    -webkit-transition: width .3s ease
                &:hover
                    &::after
                        width: 100%
                        left: 0
                        background: #ffffff
                    a 
                        color: #fff
                &.current-lang
                    &::after
                        width: 100%
                        left: 0
                        background: #ffffff
                    a 
                        color: #fff
                a 
                    transition: .3s 
                    text-decoration: none
                    color: rgba(255, 255, 255, 0.7)

               